<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>看板首页</title>
	    <script src="/assets/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- <script src="../js/machinestatus.js"></script>  -->
		<script src="/themes/website/js/jquery.liMarquee.js"></script>
		<script src="/assets/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/assets/echarts/echarts.min.js"></script>
		<script src="/themes/website/mycharts/controller/option/barOption.js"></script>
		<script src="/themes/website/mycharts/controller/option/lineOption.js"></script>
		<script src="/themes/website/mycharts/controller/option/pieOption.js"></script>
		<script src="/themes/website/mycharts/controller/option/customOption.js"></script>
		<script src="/themes/website/mycharts/controller/option/timelineOption.js"></script>
		<script src="/themes/website/mycharts/controller/option/mywebsocket.js"></script>
		<link href="/assets/fonts/font-awesome4.7.0/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
  		<link href="/assets/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/themes/website/css/index.css" rel="stylesheet" type="text/css" media="all" />
	</head>
	<body ng-app="myApp" ng-controller="myCtrl">
		<section class="header" style="background-color:#06091000;height:8%;margin-top:20px;">
			<img width="100%" height="100%" src="/themes/website/images/title2.png">
			<div id="clock" class="clock" my-Clock></div>
		</section>
		<section class="content" style="margin:14px;">
			<div class="row">
				<section class="col-lg-6 connectedSortable ui-sortable">
					<!-----内边框颜色 4d91d8----->
					<div class="nav-tabs-custom" style="background-color:#081639a1;height:24.625rem;margin-top:20px;">
						<span class="label label-default">车间设备分布</span>
						<div style="background-color:#07132d00;width:100%;height:80%;margin-top:20px">
							<img width="100%" height="100%" src="/themes/website/images/wdx/wdxbj.png"></img>
							<!-- <span class="circle circle-running headerBox" style="top:13%;left:15%;">
								 M1
							</span> -->
							<span id="QTN250_m" class="circle circle-running headerBox" style="top:13%;left:25%;">
							</span>
							<span id="QTN150_m" class="circle circle-running headerBox" style="top:13%;left:36%;">
							</span>
							<span id="VMP50A_m" class="circle circle-running headerBox" style="top:13%;left:69%;">
							</span>
						 	<span id="VMP30A_m" class="circle circle-running headerBox" style="top:13%;left:81%;">
							</span> 
							 <span id="QSM200L_m" class="circle circle-running headerBox" style="top:5%;left:26%;">
							</span>
							<span id="FIC350L_m" class="circle circle-running headerBox" style="top:5%;left:36%;">
							</span>
							<span id="GSVM1580D_m" class="circle circle-running headerBox" style="top:5%;left:56%;">
							</span>
							<span id="V850_m" class="circle circle-running headerBox" style="top:5%;left:67%;">
							</span>
							<!-- <span class="circle circle-alarm headerBox" style="top:5%;left:77%;">
								VMP32A
							</span> -->
						</div>
						<div style="width:100%;height:2.25rem;text-align:center;line-height:2.25rem;">
							<a class="btn btn-sx" style="background-color:#12b07b"></a>
							<span style="color:#FFFFFF">运行<span>
							<a class="btn btn-sx" style="background-color:#a6a5a5"></a>
							<span style="color:#FFFFFF">停机<span>
							<a class="btn btn-sx" style="background-color:#e65a65"></a>
							<span style="color:#FFFFFF">报警<span>
							<a class="btn btn-sx" style="background-color:#feb501"></a>
							<span style="color:#FFFFFF">等待<span>
						</div>
					</div>
					<div class="nav-tabs-custom" style="background-color:#081639a1;height:21.625rem;margin-top:20px;">
						<span class="label label-default">设备运行分析</span>
						<div style="width:100%;height:80%;margin-top:11px;overflow:hidden;">
							<ul class="pies" my-Scoller>
								<li echarts-type="pie"></li>
								<li echarts-type="pie"></li>
								<li echarts-type="pie"></li>
								<li echarts-type="pie"></li>
								<li echarts-type="pie"></li>
							</ul>
						</div>
						<div style="width:100%;height:2.25rem;text-align:center;line-height:2.25rem;">
							<a class="btn btn-sx" style="background-color:#12b07b"></a>
							<span style="color:#FFFFFF">运行<span>
							<a class="btn btn-sx" style="background-color:#a6a5a5"></a>
							<span style="color:#FFFFFF">停机<span>
							<a class="btn btn-sx" style="background-color:#e65a65"></a>
							<span style="color:#FFFFFF">报警<span>
							<a class="btn btn-sx" style="background-color:#feb501"></a>
							<span style="color:#FFFFFF">等待<span>
						</div>
					</div>
					<div class="nav-tabs-custom" style="background-color:#081639a1;height:26.625rem;margin-top:20px;">
						<span class="label label-default">时间线</span>
						<div style="width:100%;height:86%;margin-top:0;overflow:hidden;padding:0">
							<div time-line='true' style="width:100%;height:100%;">
								
							</div>
						</div>
					</div>
				</section>
				<section class="col-lg-6 connectedSortable ui-sortable">
					<div class="nav-tabs-custom" style="background-color:#081639a1;height:30.625rem;margin-top:20px;">
						<span class="label label-default">设备运行排行</span>
						<div style="width:100%;height:90%;margin-top:10px;overflow:hidden;padding:0">
							<div data-ranking='true' style="width:100%;height:100%;">
								
							</div>
						</div>
					</div>
					<div class="nav-tabs-custom" style="background-color:#081639a1;height:20.625rem;margin-top:20px;">
						<span class="label label-default">设备生产计划与执行数据</span>
					 	<div style="width:100%;height:86%;margin-top:0;overflow:hidden;" my-Scoller>
						 <div class="col-md-3" ng-repeat="item in items">
				          <div class="box box-default">
				            <div class="box-header with-border">
				              <h4 class="box-title" style="color:#f2f2f3;margin-top:6px;margin-bottom:1px;">
				               {{item.machineName}}
				              </h4>
				            </div>
				            <div class="box-body">
				              <div class="alert" style="height:55px">
			              		<h6 style="color:#f2f2f3;margin-top:-9px;margin-bottom:1px;">
				               		计划作业时间:
				              	</h6>
			              		<h6 style="color:#f2f2f3;margin-top:1px;margin-bottom:1px;">
				               		实际作业时间:
				              	</h6>
			              		<h6 style="color:#f2f2f3;margin-top:1px;margin-bottom:1px;">
				               		时间稼动率:
				              	</h6>
				              </div>
				              <div class="alert" style="height:55px">
				              	<h6 style="color:#f2f2f3;margin-top:-9px;margin-bottom:1px;">
				               		计划完成数量:
				              	</h6>
			              		<h6 style="color:#f2f2f3;margin-top:1px;margin-bottom:1px;">
				               		实际完成数量:
				              	</h6>
			              		<h6 style="color:#f2f2f3;margin-top:1px;margin-bottom:1px;">
				               		性能稼动率:
				              	</h6>
				              </div>
				              <div class="alert" style="height:62px">
				              	 <h6 style="color:#f2f2f3;margin-top:-9px;margin-bottom:1px;">
				               		完成数量:
				              	</h6>
			              		<h6 style="color:#f2f2f3;margin-top:1px;margin-bottom:1px;">
				               		良品数量:
				              	</h6>
			              		<h6 style="color:#f2f2f3;margin-top:1px;margin-bottom:1px;">
				               		良品率:
				              	</h6>
				              </div>
				            </div>
				            <div class="box-footer">
								<h6 class="box-title" style="color:#f2f2f3;margin-top:1px;margin-bottom:1px;">
								 	 OEE：80%
								</h6>
				            </div>
				          </div>
     					</div>
						</div>
					</div>
					<div class="nav-tabs-custom" style="background-color:#081639a1;height:21.625rem;margin-top:20px;">
						<span class="label label-default">设备实时数据</span>
						<div style="width:100%;height:86%;margin-top:23px;overflow:hidden;">
						<div class="col-md-3" ng-repeat="item in items">
				          <div class="box box-default">
				            <div class="box-header with-border">
				              <h4 class="box-title" style="color:#f2f2f3;margin-top:6px;margin-bottom:1px;">
				               	{{item.machineName}}
				              </h4>
				            </div>
				            <div class="box-body">
				              <div class="alert" style="background:#0a78f27a">
			              		<h6 style="color:#f2f2f3;margin-top:-9px;margin-bottom:1px;">
				               		快速进给:{{item.overrideRapid}}%
				              	</h6>
				              	 <hr class="spk-hr"/>
			              		<h6 style="color:#f2f2f3;margin-top:5px;margin-bottom:1px;">
				               		主轴倍率:{{item.overrideRapid}}%
				              	</h6>
				              	<hr class="spk-hr"/>
				              </div>
				            </div>
				          </div>
     					</div>
						</div>
					</div>
				</section>
			</div>
			<footer class="main-footer" style="text-align:center;background-color:#06132b91;height:55px;color:#f2f2f3;margin-top:20px;padding-top:15px">
			    <strong>技术支持<a target="blank" href="http://www.huaxinzhi.com">银川华信智信息技术有限公司</a>
					电话：0951-6996116 邮件：huaxinzhi@huaxinzhi.com
		    	</strong>
		    	<b>版本</b> 2.4.0
			</footer>
		</section>
	</body>
<script src="/themes/website/mycharts/controller/controller.js"></script>
</html>