<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdds.mapper.MonitoringMapper">
	<!-- 单表查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.tdds.entity.MonitoringList">
	</resultMap>
    <!-- 单表查询结果列 -->
    <sql id="Base_Column_List">
    </sql>
		<select id="selectOneByName" resultType="java.util.HashMap">
		<![CDATA[
			SELECT
				Machine_Name as machineName,
				Machine_Signal as machineSignal,
				PartsCount_Result as cncProducts,
				ifnull(Override_Rapid,'0')as cncRapidFeed,
				ifnull(Override_Spindle,'0')as cncSrate,
				(SELECT SYSDATE()) as currentTime,
				Alarm_Message as cncAlarm,
				Machine_Mode as cncMode,
				MainProgram_No as cncMainProname,
				Tool_No as cnc_toolnum,
				Spindle_Mode as spindleMode
			FROM
				Monitoring_List
			WHERE 
				Machine_Name=#{name}
			]]>
		</select>
		   
</mapper>
