<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdds.mapper.MonitoringMapper">
	<!-- 单表查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.tdds.entity.MonitoringList">
	</resultMap>
    <!-- 单表查询结果列 -->
    <sql id="Base_Column_List">
    </sql>
		<select id="selectOneByName" resultType="java.util.HashMap">
		<![CDATA[
			 SELECT
				Machine_Name AS code,
				Machine_Signal AS machineSignal,
				PartsCount_Result AS cnc_products,
				ifnull( Override_Rapid, '0' ) AS cnc_rapidfeed,
				ifnull( Override_Spindle, '0' ) AS cnc_srate,
				Alarm_Message AS cnc_alarm_message,
				Machine_Mode AS cnc_mode,
				MainProgram_No AS cnc_mainproname,
				Tool_No AS cnc_toolnum 
			FROM
				monitoring_list 
			WHERE
				Machine_Name = #{name}
			]]>
		</select>
		   
</mapper>
