@CHARSET "UTF-8";
body{
	background:url(/themes/website/images/wdx/wdsbg.jpg);
	height:100%;
	width:100%;
	background-size:cover;
	/* overflow:hidden; */
}
.label {
	display: inline-block;
	padding: .5em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 10px;
	color: #36b0f3;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	width: 379px;
	height: 25px;
	border-radius: 0;
	box-shadow:0px 3px 3px #2577aa inset;
	transform: perspective(20px) scaleY(1.3) rotateX(-5deg);
	-webkit-box-shadow:0px 3px 3px #2577aa inset;
	-moz-box-shadow:0px 3px 3px #2577aa inset;
	letter-spacing: 5px
}

.label-default {
	background-color: #0916389e;
	position: relative;
	left: 29%;
	top: 5px;
	/* border:3px solid #2577aa; */
}
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	height: 39%;
	cursor: pointer;
	background-image: none;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 10px;
}

.circle{
	display: inline-block;
    border-radius: 50%;
    height: 39px;
    width: 69px;
    text-align: center;
    line-height: 25px;
    position: absolute;
    color: #35a5e7;
    background: #07070a69;
    font-weight: bold;
    font-size: 15px;
}

.circle-running{
	border:3px solid #12b07b;
}
.circle-poweroff{
	border:3px solid #a6a5a5;
}
.circle-alarm{
	border:3px solid #e65a65;
}
.circle-waiting{
	border:3px solid #feb501;
}

.circle-unknow{
	border:3px solid #feb501;
}

@keyframes fade {
	from {
	    opacity: 1.0;
	}
	50% {
	    opacity: 0.4;
	}
	to {
	    opacity: 1.0;
	}
}

@-webkit-keyframes fade {
	from {
	    opacity: 1.0;
	}
	50% {
	    opacity: 0.6;
	}
	to {
	    opacity: 1.0;
	}
}

.headerBox {
    animation: fade 2000ms infinite;
    -webkit-animation: fade 2000ms infinite;
}
.pies{
	width:100%;
	height:100%;
	list-style:none;
	margin:0;
	padding:0;
}

.pies li{
	width:33%;
	height:100%;
	float:left;
	color:#658ced;
}
.alert{
	margin-bottom: 4px;
	background: -moz-linear-gradient(left,#3399ff,#3339ff00);
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(left,#3399ff,#3339ff00);
	/* Opera 11.10+ */
	background: -o-linear-gradient(left,#3399ff,#3339ff00);
 	border:none;
 	font-size:14px
}

.table{
	margin-top: 22px;
	border:1px solid #33a8ea;
}
.table>thead>tr>th {
	vertical-align: bottom;
	
	background:#062566;
	
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    color: #36b0f3;
    border:1px solid #33a8ea;
}
.spk-hr{
	margin-top:1px;
	margin-bottom:3px;
	width:100%
}
.mainfooter{
	text-align:center;
	background-color:#081639d1;
	height:55px;
	color:#f2f2f3;
	margin-top:10px;
	padding-top:10px;
	box-shadow:0px 3px 3px #2577aa inset;
	-webkit-box-shadow:0px 3px 3px #2577aa inset;
	-moz-box-shadow:0px 3px 3px #2577aa inset;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.clock {
    width: 235px;
    height: 45px;
    float: left;
    position: absolute;
    top: 40PX;
    right: 144px;
    color: #3992d4;
    font-size: -1px;
}

#Date {
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    text-shadow: 0 0 5px #00c6ff;
}

ul{
   	width: 223px;
    padding: 0px;
    margin-left: 7px;
    list-style: none;
    text-align: center;
}

ul li{
   	display: inline;
    font-size: 23px;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #00c6ff;
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    };
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 1px 2px;
	border: 1px solid #337aab;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	color: #36b0f3;
	border: 1px solid #33a8ea40;
	background-color: #66339900;
}
.layui-layer {
    -webkit-overflow-scrolling: touch;
    top: 150px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #fff0;
    -webkit-background-clip: content;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}

.layui-layer-title {
    padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #feb501;
    overflow: hidden;
    background-color:#08143391;
}
