<@layout.override name="body">
    <section class="content-header">
      <h1>
        <small>Version 2.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>后台管理</a></li>
        <li class="active">首页</li>
      </ol>
    </section>
    <section class="content" ng-app="dashboradApp" ng-controller="myCon">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon" style="background-color:#00c0ef00">
            	<img  src="/themes/website/images/alibaba/running.png"/>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">运行</span>
              <span class="info-box-number">{{running}}台</span>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon" style="background-color:#00c0ef00">
            	<img  src="/themes/website/images/alibaba/poweroff.png"/>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">停机</span>
              <span class="info-box-number">{{poweroff}}台</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon" style="background-color:#00c0ef00">
            	<img src="/themes/website/images/alibaba/alarm.png"/>
           	</span>
            <div class="info-box-content">
              <span class="info-box-text">报警</span>
             <span class="info-box-number">{{alarm}}台</span>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon" style="background-color:#00c0ef00">
            	<img src="/themes/website/images/alibaba/waiting.png"/>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">等待</span>
              <span class="info-box-number">{{waiting}}台</span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
         <div class="col-md-6">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">设备实时状态</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
          	<div class="box-body no-padding" style="height:300px;">
				<img width="100%" height="80%" src="/themes/website/images/aoshen/aoshen.png"></img>
				<span id="T005_m" class="circle circle-running headerBox" style="top:4%;left:91%;">
				</span>
				<span id="1160-2_m" class="circle circle-running headerBox" style="top:4%;left:80%;" ng-click="getMahineinfo('1160-2')">
				</span>
				<span id="1160-1_m" class="circle circle-running headerBox" style="top:4%;left:70%;" ng-click="getMahineinfo('1160-1')">
				</span>
				<span id="MC007_m" class="circle circle-running headerBox" style="top:4%;left:60%;" ng-click="getMahineinfo('MC007')">
				</span>
				<span id="V8_m" class="circle circle-running headerBox" style="top:4%;left:51%;" ng-click="getMahineinfo('V8')">
				</span>
				<span id="966_m" class="circle circle-running headerBox" style="top:4%;left:41%;" ng-click="getMahineinfo('966')">
				</span>
				<span id="SR-32JM_m" class="circle circle-running headerBox" style="top:4%;left:29%;" ng-click="getMahineinfo('SR-32JM')">
				</span>
				<span id="V10_m" class="circle circle-running headerBox" style="top:19%;left:31%;" ng-click="getMahineinfo('V10')">
				</span>
				<span id="D9332_m" class="circle circle-running headerBox" style="top:19%;left:39%;" >
				</span>
				<span id="MC002_m" class="circle circle-running headerBox" style="top:19%;left:47%;" ng-click="getMahineinfo('MC002')">
				</span>
				<span id="D9332_m" class="circle circle-running headerBox" style="top:19%;left:55%;" >
				</span>
				<span id="D9332_m" class="circle circle-running headerBox" style="top:42%;left:21%;">
				</span>
				<span id="T003_m" class="circle circle-running headerBox" style="top:42%;left:31%;" ng-click="getMahineinfo('T003')">
				</span>
				<span id="MX-T150R_m" class="circle circle-running headerBox" style="top:42%;left:41%;" ng-click="getMahineinfo('MX-T150R')">
				</span>
				<span id="T004_m" class="circle circle-running headerBox" style="top:42%;left:51%;" ng-click="getMahineinfo('T004')">
				</span>
          </div>
        </div>
      </div>
        <div class="col-md-6">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">每日每台设备状态柱状图</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
          	<div class="box-body" style="height:300px;" bar-Charts>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">所有设备每日运行状态时长折线图</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              <!--   <div class="btn-group">
                  <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i>
                	</button>
                </div> -->
                <button type="button" class="btn btn-box-tool" data-widget="remove">
                	<i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12" style="height:360px;">
                  <div style="height:100%;width:100%" line-Charts>
                  		
                  </div>
                </div>
              </div>
              <!-- /.row -->
            </div>
          </div>
        </div>
      </div>
      <!---------machineInfo start------------>
      
      	
      <!---------machineInfo end------------>
    </section>
</@layout.override>
<@layout.override name="css">
<@layout.super/>
<link rel="stylesheet" href="/themes/admin/index/css/css/dashboard.css">
</@layout.override>
<@layout.override name="js">
<@layout.super/>
<script src="/themes/admin/echarts-options/lineOption.js"></script>
<script src="/themes/admin/echarts-options/barOption.js"></script>
<script src="/themes/admin/index/js/dashboard.js"></script>
</@layout.override>
<@layout.extends name="_layouts/bootstrap1.html"/>