<@layout.override name="body">
<style>
	.panel {
	    margin-bottom: 8px;
	}
	.panel-body {
	    padding: 0px;
	}
</style>
    <section class="content-header">
      <h1>
        <small>Version 2.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>后台管理</a></li>
        <li class="active">首页</li>
      </ol>
    </section>
    <section class="content" ng-app="dashboradApp" ng-controller="myCon">
       <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon" style="background-color:#00c0ef00">
            	<img  src="/themes/website/images/alibaba/running.png"/>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">运行</span>
              <span class="info-box-number">{{running}}台</span>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon" style="background-color:#00c0ef00">
            	<img  src="/themes/website/images/alibaba/poweroff.png"/>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">停机</span>
              <span class="info-box-number">{{poweroff}}台</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon" style="background-color:#00c0ef00">
            	<img src="/themes/website/images/alibaba/alarm.png"/>
           	</span>
            <div class="info-box-content">
              <span class="info-box-text">报警</span>
             <span class="info-box-number">{{alarm}}台</span>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon" style="background-color:#00c0ef00">
            	<img src="/themes/website/images/alibaba/waiting.png"/>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">等待</span>
              <span class="info-box-number">{{waiting}}台</span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
         <div class="col-md-6">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">设备实时状态</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
          	<div class="box-body no-padding" style="height:300px;">
				<img width="100%" height="80%" src="/themes/website/images/aoshen/aoshen.png"></img>
				<span id="T005_m" class="circle circle-running headerBox" style="top:4%;left:91%;">
				</span>
				<span id="1160-2_m" class="circle circle-running headerBox" style="top:4%;left:80%;" ng-click="getMahineinfo('1160-2')">
				</span>
				<span id="1160-1_m" class="circle circle-running headerBox" style="top:4%;left:70%;" ng-click="getMahineinfo('1160-1')">
				</span>
				<span id="MC007_m" class="circle circle-running headerBox" style="top:4%;left:60%;" ng-click="getMahineinfo('MC007')">
				</span>
				<span id="V8_m" class="circle circle-running headerBox" style="top:4%;left:51%;" ng-click="getMahineinfo('V8')">
				</span>
				<span id="966_m" class="circle circle-running headerBox" style="top:4%;left:41%;" ng-click="getMahineinfo('966')">
				</span>
				<span id="SR-32JM_m" class="circle circle-running headerBox" style="top:4%;left:29%;" ng-click="getMahineinfo('SR-32JM')">
				</span>
				<span id="V10_m" class="circle circle-running headerBox" style="top:19%;left:31%;" ng-click="getMahineinfo('V10')">
				</span>
				<span id="D9332_m" class="circle circle-running headerBox" style="top:19%;left:39%;" >
				</span>
				<span id="MC002_m" class="circle circle-running headerBox" style="top:19%;left:47%;" ng-click="getMahineinfo('MC002')">
				</span>
				<span id="D9332_m" class="circle circle-running headerBox" style="top:19%;left:55%;" >
				</span>
				<span id="D9332_m" class="circle circle-running headerBox" style="top:42%;left:21%;">
				</span>
				<span id="T003_m" class="circle circle-running headerBox" style="top:42%;left:31%;" ng-click="getMahineinfo('T003')">
				</span>
				<span id="MX-T150R_m" class="circle circle-running headerBox" style="top:42%;left:41%;" ng-click="getMahineinfo('MX-T150R')">
				</span>
				<span id="T004_m" class="circle circle-running headerBox" style="top:42%;left:51%;" ng-click="getMahineinfo('T004')">
				</span>
          </div>
        </div>
      </div>
        <div class="col-md-6">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">每日每台设备状态柱状图</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
          	<div class="box-body" style="height:300px;" bar-Charts>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">所有设备每日运行状态时长折线图</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              <!--   <div class="btn-group">
                  <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i>
                	</button>
                </div> -->
                <button type="button" class="btn btn-box-tool" data-widget="remove">
                	<i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12" style="height:360px;">
                  <div style="height:100%;width:100%" line-Charts>
                  		
                  </div>
                </div>
              </div>
              <!-- /.row -->
            </div>
          </div>
        </div>
      </div>
      <!---------machineInfo start------------>
      <div id="machineInfo"  style="background-color:#ffff;">
      <div style="height:100%;width:92%;margin-top:52px">
 		<section class="col-lg-3 connectedSortable ui-sortable" style="width:20%">
 				<div class="nav-tabs-custom" style="background-color: #081639a1; width:30rem;height:16.92rem;margin-bottom:0px">
 					   <img width="100%" height="100%" src="/themes/website/images/default.jpg" class="thumbnail" style="margin-bottom:0px">
 				</div>
 		</section>
 		<section class="col-lg-3 connectedSortable ui-sortable">
			 <div class="panel panel-primary">
			    <div class="panel-heading">
			        <h3 class="panel-title">
			            设备信息
			        </h3>
			    </div>
			    <div class="panel-body">
				  <table class="table">
				        <th>设备中文名称</th>
				        <th>{{cncName}}</th>
			       	 <tr>
			        	<th>设备名称</th>
			        	<th>{{cncName}}</th>
		        	</tr>
		        	 <tr>
				        <th>型号</th>
				        <th>西门子</th>
			        </tr>
			    </table>
			    </div>
			</div>
 		</section>
 		
 		<section class="col-lg-3 connectedSortable ui-sortable">
 			 <div class="panel panel-primary">
			    <div class="panel-heading">
			        <h3 class="panel-title">
			            设备统计分析
			        </h3>
			    </div>
			    <div class="panel-body" style="height:131px">
			      <table class="table">
				        <th>当天开机率</th>
				        <th>80%</th>
			       	 <tr>
			        	<th>当天加工件数</th>
			        	<th>{{cncProducts}}</th>
		        	</tr>
		        	 <tr>
			        </tr>
			    </table>
			    </div>
			</div>
 		</section>
 		<section class="col-lg-3 connectedSortable ui-sortable">
 		  <div class="panel panel-primary">
			    <div class="panel-heading">
			        <h3 class="panel-title">
			            系统报警
			        </h3>
			    </div>
			    <div class="panel-body">
				    <table class="table">
					        <th>报警时间</th>
					        <th></th>
				       	 <tr>
				        	<th>报警编号</th>
				        	<th></th>
			        	</tr>
			        	 <tr>
					        <th>报警信息</th>
					        <th></th>
				        </tr>
				    </table>
			    </div>
			</div>
 		</section>
 		<section class="col-lg-3 connectedSortable ui-sortable" style="width:45%">
 			 <div class="panel panel-primary">
			    <div class="panel-heading">
			        <h3 class="panel-title">
			            运行时间
			        </h3>
			    </div>
			    <div class="panel-body">
				    <table class="table">
					        <th>当天开机累计时间</th>
					        <th>{{cncAlivetime}}</th>
				       	 <tr>
				        	<th>当天程序循环时间</th>
				        	<th>{{cncCycletime}}</th>
			        	</tr>
			        	 <tr>
					        <th>当天累计程序循环时间</th>
					        <th>undefined</th>
				        </tr>
				    </table>
			    </div>
			</div>
			<div class="panel panel-primary">
			    <div class="panel-heading">
			        <h3 class="panel-title">
			            程序
			        </h3>
			    </div>
			    <div class="panel-body">
				    <table class="table">
					        <th>当前程序名称</th>
					        <th>{{cncMainproname}}</th>
				       	 <tr>
				        	<th>当前程序编号</th>
				        	<th>{{cncSeq}}</th>
			        	</tr>
			        	 <tr>
				        </tr>
				    </table>
			    </div>
			</div>
			
		 	<div class="panel panel-primary" style="height:265px">
			    <div class="panel-heading">
			        <h3 class="panel-title">
			            机器坐标
			        </h3>
			    </div>
			    <div class="panel-body">
				    <table class="table">
				    	<tr>
				    	  	<th>机械坐标</th>
					        <th>相对坐标</th>
					        <th>绝对坐标</th>
					        <th>剩余移动坐标</th>
				       	 <tr>
			        	 <tr>
			        	 	<td>X轴:{{cncMcX}}</td>
			        	 	<td>X轴:{{cncRcX}}</td>
			        	 	<td>X轴:{{cncAbX}}</td>
			        	 	<td>X轴:{{cncRcX}}</td>
				        </tr>
				         <tr>
			        	 	<td>Y轴:{{cncMcY}}</td>
			        	 	<td>Y轴:{{cncRcY}}</td>
			        	 	<td>Y轴:{{cncAbY}}</td>
			        	 	<td>Y轴:{{cncRcY}}</td>
				        </tr>
				         <tr>
			        	 	<td>Z轴:{{cncMcZ}}</td>
			        	 	<td>Z轴:{{cncRcZ}}</td>
			        	 	<td>Z轴:{{cncAbZ}}</td>
			        	 	<td>Z轴:{{cncRcZ}}</td>
				        </tr>
				         <tr>
			        	 	<td>A轴:{{cncMcA}}</td>
			        	 	<td>A轴:{{cncRcA}}</td>
			        	 	<td>A轴:{{cncAbA}}</td>
			        	 	<td>A轴:{{cncRcA}}</td>
				        </tr>
				    </table>
			    </div>
			</div>
 		</section>
 		<section class="col-lg-3 connectedSortable ui-sortable" style="width:50%">
 		 <div class="panel panel-primary">
			    <div class="panel-heading">
			        <h3 class="panel-title">
			            负载
			        </h3>
			    </div>
			   <div id="myCarousel" class="panel-body carousel slide">
			   		<div class="carousel-inner" style="height:200px;">
			   			<div class="item active">
			   				<div  name="loadChartsContainer" data-type="cnc_lX" style="width:700px;height:200px;float:left;">
			   				</div>
				   			 <div style="width:90px;height:200px;float:right;text-align:center;">
							    	 <span class="label" style="position:relative;top:45px;color:black;">X轴负载</span>
						    	 <span class="device-circle device-circle-running headerBox">{{cnc_lX}}</span>
				   	 		</div>
			   			</div>
				   		<div class="item">
					   		<div name="loadChartsContainer" data-type="cnc_lY"  style="width:700px;height:200px;float:left;">
					   		</div>
					   	 	<div style="width:90px;height:200px;float:right;text-align:center;">
						    	 <span class="label" style="position:relative;top:45px;color:black;">Y轴负载</span>
						    	 <span class="device-circle device-circle-running headerBox">{{cnc_lY}}</span>
					   	 	</div>
					   		<div class="item" name="loadChartsContainer" data-type="cnc_lZ" style="width:700px;height:200px;float:left;">
					   		</div>
				   		</div>
				   		<div class="item">
					   		 <div name="loadChartsContainer" data-type="cnc_lZ" style="width:700px;height:200px;float:left;">
					   		</div>
					 		<div style="width:90px;height:200px;float:right;text-align:center;">
						    	 <span class="label" style="position:relative;top:45px;color:black;">Z轴负载</span>
						    	 <span class="device-circle device-circle-running headerBox">{{cnc_lZ}}</span>
					   	 	</div>
				   	 	</div>
				   		 <div class="item">
					   		 <div name="loadChartsContainer" data-type="cnc_lA" style="width:700px;height:200px;float:left;">
					   		</div>
					 		<div style="width:90px;height:200px;float:right;text-align:center;">
						    	 <span class="label" style="position:relative;top:45px;color:black;">A轴负载</span>
						    	 <span class="device-circle device-circle-running headerBox">{{cnc_lA}}</span>
					   	 	</div>
				   	 	</div>
			  		 </div>
			  	</div>
			</div>
			<div class="panel panel-primary">
				    <div class="panel-heading">
				        <h3 class="panel-title">
				            倍率
				        </h3>
				    </div>
			    	<div id="gagues" class="panel-body" style="width:790px;height:200px">
	  					 <div data-type="cnc_srate" style="width:253px;height:200px;float:left"></div>
	  					 <div data-type="cnc_frate" style="width:253px;height:200px;float:left"></div>
	  					 <div data-type="cnc_rapidfeed" style="width:253px;height:200px;float:left"></div>
					</div>
			 </div>
			<div class="panel panel-primary">
			    <div class="panel-heading">
			        <h3 class="panel-title">
			            速度
			        </h3>
			    </div>
			    <div class="panel-body" style="width:790px;height:50px">
				     <table class="table">
				    	<tr>
				    	  	<th>实际进给转速</th>
					        <th>{{cncActfspeed}}r/min</th>
					        <th>主轴转速</th>
					        <th>{{cncActspeed}}r/min</th>
				       	 <tr>
				    </table>
			    </div>
			</div> 
 		</section>
 	  </div>
 	  </div>
      <!---------machineInfo end------------>
    </section>
</@layout.override>
<@layout.override name="css">
<@layout.super/>
<link rel="stylesheet" href="/themes/admin/index/css/css/dashboard.css">
</@layout.override>
<@layout.override name="js">
<@layout.super/>
<script src="/themes/admin/echarts-options/lineOption.js"></script>
<script src="/themes/admin/echarts-options/loadlineopt.js"></script>
<script src="/themes/admin/echarts-options/barOption.js"></script>
<script src="/themes/admin/machine/js/gaugeOption.js"></script>
<script src="/themes/admin/index/js/dashboard.js"></script>
</@layout.override>
<@layout.extends name="_layouts/bootstrap1.html"/>