@charset "UTF-8";
	.headerBox {
	    animation: fade 2000ms infinite;
	    -webkit-animation: fade 2000ms infinite;
	}
	@keyframes fade {
		from {
		    opacity: 1.0;
		}
		50% {
		    opacity: 0.4;
		}
		to {
		    opacity: 1.0;
		}
	}
	
	@-webkit-keyframes fade {
		from {
		    opacity: 1.0;
		}
		50% {
		    opacity: 0.6;
		}
		to {
		    opacity: 1.0;
		}
	}
	.device-circle{
		display:inline-block;
		border-radius:50%;
		height:65px;
		width:65px;
		text-align:center;
		line-height:61px;
		font-size:27px;
		position:relative;
		color:#FFF0FF;
		background:#07070a69;
		top: 50px;
    	left: -6px;
	}
	.device-circle-running{
		/* border:5px solid #12b07b; */
	}
 
 .circle{
	display: inline-block;
    border-radius: 50%;
    height: 39px;
    width: 69px;
    text-align: center;
    line-height: 25px;
    position: absolute;
    color: #35a5e7;
    background: #07070a69;
    font-weight: bold;
    font-size: 15px;
}

	.circle-running{
		border:3px solid #12b07b;
	}
	.circle-poweroff{
		border:3px solid #a6a5a5;
	}
	.circle-alarm{
		border:3px solid #e65a65;
	}
	.circle-waiting{
		border:3px solid #feb501;
	}
	
	.circle-unknow{
		border:3px solid #feb501;
}
 